*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-purple: hsl(259, 100%, 65%);
    --primary-light-red: hsl(0, 100%, 67%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutal-off-white: hsl(0, 0%, 94%);
    --netral-light-grey: hsl(0, 0%, 86%);
    --neutralsmokey-grey: hsl(0, 1%, 44%);
    --netral-off-black: hsl(0, 0%, 8%);
    --primary-font: "";
    
}